* {
    margin:0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


body {
    font-family: 'Inter';
    background-color: hsl(0, 0%, 100%);
}

.cabecalho {
    background-color: hsl(225, 100%, 98%);
    padding: 2rem 14rem 10rem 14rem;
}

.header-texto, .header-darkmode {
    font-weight: 700;
    color:  hsl(228, 12%, 44%)
}

.header-titulo {
    font-weight: 700;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.main-conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background-color: hsl(224, 27%, 89%);
    border-radius: .3rem;
    width: 238px;
    height: 190px;

}

.perfil {
    font-size: 10px;
    font-weight: 700;
    margin-top: 2rem;
}

.n-followers {
    font-weight: 700;
    font-size: 50px;
}

.followers {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 700;
}

.today {
    font-size: 10px;
    font-weight: 700;
}

.overview-container, .card-container1, .card-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-container {
    flex-direction: column;
    gap: 2rem;
}

.card {
    background-color: hsl(224, 27%, 89%);
}

.card-container1, .card-container2 {
    gap: 6rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 238px;
    border-radius: .3rem;
    padding: 2rem 0 0 0rem;
}

.card-texto, .card-num {
    margin-left: 1rem;
}