* {
    margin:0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


body {
    font-family: 'Inter';
    background-color: hsl(0, 0%, 100%);
}

.cabecalho {
    background-color: hsl(225, 100%, 98%);
    padding: 2rem 20rem 10rem 20rem;
}

.header-texto, .header-darkmode {
    font-weight: 700;
    color:  hsl(228, 12%, 44%)
}

.header-titulo {
    font-weight: 700;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.main-conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background-color: hsl(224, 27%, 89%);
    border-radius: .3rem;
    width: 238px;
    height: 190px;
    padding: 0 0 1rem 0;

}

.perfil {
    font-size: 10px;
    font-weight: 700;
    margin-top: 2rem;
    color: hsl(228, 12%, 44%);
}

.n-followers {
    font-weight: 700;
    font-size: 50px;
}

.followers {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}

.today {
    font-size: 11px;
    font-weight: 700;
    color: hsl(163, 72%, 41%);
}

.titulo-overview {
    margin: 3rem 0 1rem 20rem;
    color: hsl(228, 12%, 44%);;
}

.overview-container, .card-container1, .card-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.overview-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.card {
    background-color: hsl(224, 27%, 89%);
}

.card-container1, .card-container2 {
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 238px;
    border-radius: .3rem;
    padding: 2rem 0 1rem 0rem;
}

.card-texto, .card-num {
    margin-left: 1rem;
}

.card-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.porcentagem {
    margin-right: 1rem;
    font-size: 10px;
    font-weight: 700;
    color: hsl(163, 72%, 41%);
}

.perfil, .today {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.red {
    color: hsl(356, 69%, 56%);
}

.facebook::before {
    content: url('../images/icon-facebook.svg');
}

.twitter::before {
    content: url('../images/icon-twitter.svg');
}

.instagram::before {
    content: url('../images/icon-instagram.svg');
}

.youtube::before {
    content: url('../images/icon-youtube.svg');
}

.up::before {
    content: url('../images/icon-up.svg');
}

.down::before {
    content: url('../images/icon-down.svg');
}

.card-texto {
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}

.card-num {
    font-weight: 700;
    font-size: 30px;
}
