:root {
    --VeryDarkBlue/* (BG) */: hsl(230, 17%, 14%);
    --VeryDarkBlue1/* (Top BG Pattern) */: hsl(232, 19%, 15%);
    --DarkDesaturatedBlue /* (Card BG) */: hsl(228, 28%, 20%);
    --DesaturatedBlue/* (Text) */: hsl(228, 34%, 66%);
    --White/* (Text) */: hsl(0, 0%, 100%);
}

.dark-background{
    background-color: var(--VeryDarkBlue);
}

.dark-header {
    background-color: var(--VeryDarkBlue1);
}

.dark-text {
    color: var(--White);
}

.dark-card .card {
    background-color: var(--DarkDesaturatedBlue);
    color: var(--White);
}

.dark-main .main-conteudo {
    background-color: var(--DarkDesaturatedBlue);
    color: var(--White);
}

.dark-footer .attribution {
    color: var(--White);
}

* {
    margin:0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


body {
    font-family: 'Inter';
    background-color:hsl(0, 0%, 100%);
}

.cabecalho-container {
    background-color: hsl(225, 100%, 98%);
    align-items: center;
    justify-content: center;
}

.cabecalho {
    padding: 2rem 23% 10rem 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-texto, .header-darkmode {
    font-weight: 700;
    color:  hsl(228, 12%, 44%)
}

.header-titulo {
    font-weight: 700;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.darkmode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.header-container {
    display: flex;
    flex-direction: column;
}

.main-box {
    position: relative;
    bottom: 5rem;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.border-instagram {
    border-width: 2px;
    border-top: solid 4px;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%)) 1;
}

.border-facebook {
    border-top: solid 4px;
    border-color: hsl(208, 92%, 53%);
}

.border-twitter {
    border-top: solid 4px;
    border-color: hsl(203, 89%, 53%);
}

.border-youtube {
    border-top: solid 4px;
    border-color: hsl(348, 97%, 39%);
}

.main-conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background-color: hsl(224, 27%, 89%);
    border-radius: .3rem;
    width: 238px;
    height: 190px;
    padding: 0 0 1rem 0;

}

.main-conteudo:hover {
    cursor: pointer;
}

.main-conteudo:active {
    background-color: hsl(223, 13%, 79%); 
}

.perfil {
    font-size: 10px;
    font-weight: 700;
    margin-top: 2rem;
    color: hsl(228, 12%, 44%);
}

.n-followers {
    font-weight: 700;
    font-size: 50px;
}

.followers {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}

.today {
    font-size: 11px;
    font-weight: 700;
    color: hsl(163, 72%, 41%);
}

.titulo-overview {
    margin: 3rem 0 1rem 22.5%;
    color: hsl(228, 12%, 44%);
}

.overview-container, .card-container1, .card-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.overview-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.card {
    background-color: hsl(224, 27%, 89%);
}

.card-container1, .card-container2 {
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 238px;
    border-radius: .3rem;
    padding: 2rem 0 1rem 0rem;
}

.card-texto, .card-num {
    margin-left: 1rem;
}

.card-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.porcentagem {
    margin-right: 2rem;
    font-size: 10px;
    font-weight: 700;
    color: hsl(163, 72%, 41%);
}

.perfil, .today {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.red {
    color: hsl(356, 69%, 56%);
}

.facebook::before {
    content: url('../images/icon-facebook.svg');
}

.twitter::before {
    content: url('../images/icon-twitter.svg');
}

.instagram::before {
    content: url('../images/icon-instagram.svg');
}

.youtube::before {
    content: url('../images/icon-youtube.svg');
}

.up::before {
    content: url('../images/icon-up.svg');
}

.down::before {
    content: url('../images/icon-down.svg');
}

.card-texto {
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}

.card-num {
    font-weight: 700;
    font-size: 30px;
}

.card-texto {
    display: flex;
    justify-content: space-between;
}

.facebookB::after {
    content: url('../images/icon-facebook.svg');
    margin-right: 2rem;
}

.twitterB::after {
    content: url('../images/icon-twitter.svg');
    margin-right: 2rem;
}

.instagramB::after {
    content: url('../images/icon-instagram.svg');
    margin-right: 2rem;
}

.youtubeB::after {
    content: url('../images/icon-youtube.svg');
    margin-right: 2rem;
}
